@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.parent_container {
    background: hsl(228deg 11.11% 8.82%);
    width: 100%;
    height: 100vh;
}

.main_container {
    background-color: hsl(215.29deg 21.52% 15.49%);
    width: 80%;
    max-width: 350px;
    margin: auto;
    border-radius: 22px;
    padding: 28px;
}

.star_icon {
    padding: 12px;
    background: hsl(210deg 19.15% 18.43%);
    border-radius: 50%;
}

.main_heading{
    font-size: 20px;
    font-weight: 700;
    color: hsl(0deg 0% 99.61%);
    margin-bottom: 0;
}

.para{
    color: hsl(215.29deg 7% 52.35%);
    font-size: 14px;
    font-weight: 500;
}

.rating{
    justify-content: space-between;
    margin: 12px 0;
}

.rating_number{
    color: hsl(215.29deg 7% 52.35%);
    padding: 15px 18px;
    background: hsl(210deg 19.15% 18.43%);
    color: hsl(215.29deg 7% 52.35%);
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
}

.rating_number:hover{
    background-color: hsl(214.29deg 12.39% 55.69%);
    color: hsl(180deg 66.67% 98.82%);
    cursor: pointer;
}

.rating_clicked{
    background-color: hsl(25.49deg 97.49% 53.14%) !important; 
    color: hsl(180deg 66.67% 98.82%);
}

.change_rating{
    cursor: pointer;
}

.rating_result{
    border: none;
    color: hsl(25.49deg 97.49% 53.14%);
    background-color: hsl(210deg 19.15% 18.43%);
    font-size: 12px;
    font-weight: 300;
    border-radius: 20px;
    padding: 8px;
    font-family: 'Overpass', sans-serif;
    margin-top: 20px;
}


.submit_button{
    background: hsl(25.49deg 97.49% 53.14%);
    border: none;
    border-radius: 22px;
    color: hsl(40.91deg 100% 87.06%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    margin: 8px 0 0 0;
    text-align: center;
    letter-spacing: 1.5px;
}

.submit_button:hover{
    background-color: hsl(180deg 66.67% 98.82%);
    color: hsl(25.49deg 97.49% 53.14%);
    cursor: pointer;
}


.display_thankyou{
    display: none;
}

.submit_button_clicked{
    display: none;
}




/* .submit_button_clicked{
    display: none;
} */















.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}